*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: aliceblue;
}
h1{
    font-size: 50px;
}
.header{
    text-align: center;
    min-height: 80vh;
    color: white;
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("images/donation5.jpg");
    background-color: #cccccc;
    background-position: center;
    background-size: cover;
    position: relative;
    padding-top: 70px;

}
.button{
    padding: 10px 20px;
    font-size: 25px;
    font-weight: 700;
    background-color:#ff7979;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    
}
.donate-today{
    text-align: center;
    padding-top: 100px;
}
.font-color{
    color:#747d8c;
}
.amount{
    display: flex;
    padding-left: 30%;
    text-indent: 50px;
    
}
.other-amount{
    text-align: center;
    color: #949daa;
    padding: 1px;
}
.amount-taka{
    margin-left:26%;
    padding: auto;

}
.button1{
    padding: 25px 25px;
    font-size: 25px;
    font-weight: 700;
    background-color:#f1f2f6;
    color: #747d8c;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
}
.button2{
    padding: 25px 25px;
    font-size: 25px;
    font-weight: 700;
    background-color:#fc5c643c;
    color: #df3c3c;
    border-radius: 10px;
    border: 2px solid orangered;
    text-decoration: none;
    text-align: center;
    display: inline-block;
}
.button3{
    padding: 25px 25px;
    font-size: 25px;
    font-weight: 700;
    background-color:#f1f2f6;
    color: #747d8c;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
}
.button4{
    padding: 25px 25px;
    font-size: 25px;
    font-weight: 700;
    background-color:#f1f2f6;
    color: #747d8c;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
}
.button5{
    padding: 25px 25px;
    font-size: 25px;
    font-weight: 700;
    background-color:#f1f2f6;
    color: #747d8c;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
}
.line{
    width: 50%;
    margin: auto;
    color: #b9bbc551;
}
.donate-now{
    text-decoration: none;
    padding: 10px 20px;
    background-color:#ff7979 ;
    color: white;
    font-size: 25px;
    border-radius: 10px;
    font-weight: 700;
}
.donate-plane{
    margin-top: 10%;
    text-align: center;
}
.food-for-family{
    background-color: #b9bbc5;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.food-a-family{
    height: 300px;
    width: 300px;
    padding: 20px 35px;
    background-color: #cad3c835;
    border-radius: 15px;
    margin: 15px;
    position: relative;
    text-align:justify;
}
.shelter-for-a-family{
    height: 300px;
    width: 300px;
    padding: 20px 35px;
    background-color: #7d497c1a;
    border-radius: 15px;
    margin: 15px;
    position: relative;
    text-align: justify;
}
.education-for-a-child{
    height: 300px;
    width: 300px;
    padding: 20px 35px;
    background-color: #c5834120;
    border-radius: 15px;
    margin: 15px;
    position: relative;
    text-align: justify;
}
.lives-depends{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 14%;
}
.half-width h2{
    font-size: 35px;
    font-weight: 600;
}
.half-width p{
    color:#6c6f6a;
}
.half-width img{
    width: 300px;
    height: 350px;
    border-radius: 5px;
}
.contribute{
    padding: 10px 20px;
    background-color: #ec6363;
    border-radius: 10px;
    color: white;
    text-decoration: none;
}
.need-to-suvive{
    margin-top: 5%;
    display: flex;
    padding-right: 14%;
}
.get-update{
    padding-top: 5%;
    text-align: center;
}
.get-update p{
    color:#6c6f6a ;
}
.box1{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25%;
    
}
.form-box{
    margin-top: 10%;
    padding: 100px 200px;
    border-radius: 5px;
    background-color: #e7dd726c;
}
.form-box input{
    font-size: 15px;
    color: #6c6f6a;
    padding: 10px 15px;
    border-radius: 5px;
    background-color:#c7c8c6e6;
    font-weight: 500;
}
.form-box button{
    padding: 10px 10px;
    background-color:#ec6363d0;
    color: white;
    border-radius: 5px;
    font-weight: 300;
}
footer{
    margin-top: 5%;
    padding: 2%;
    background-color: #2C3A47;
    color: rgb(127, 61, 34);
    text-align: center;
}
.white-color{
    color: white;
}